.navbar{
    height: 5vh;
    background-color: var(--theme);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarIcon{
    cursor: pointer;
}

.navElement{
    margin:  0 25px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.icon{
    margin-right: 5px;
}

.navElement:hover{
    color: black;
}

.links{
    display: flex;
}

@media screen and (max-width: 1200px){
    .navElement{
        margin:  0 10px;
    }
}

@media screen and (max-width: 900px){
    .navbar{
        padding: 0.8rem 1.5rem;
    }
    .links{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .navbar{
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 500px){
    .navbar{
        font-weight: 500;
        padding: 0.5rem 0.5rem;
    }
}